@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: 'helveticaneuelight';
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'prataregular';
  src: url("../fonts/prata-regular-webfont.eot");
  src: url("../fonts/prata-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/prata-regular-webfont.woff2") format("woff2"), url("../fonts/prata-regular-webfont.woff") format("woff"), url("../fonts/prata-regular-webfont.ttf") format("truetype"), url("../fonts/prata-regular-webfont.svg#prataregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuemedium';
  src: url("../fonts/helveticaneue_medium-webfont.eot");
  src: url("../fonts/helveticaneue_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue_medium-webfont.woff2") format("woff2"), url("../fonts/helveticaneue_medium-webfont.woff") format("woff"), url("../fonts/helveticaneue_medium-webfont.ttf") format("truetype"), url("../fonts/helveticaneue_medium-webfont.svg#helveticaneuemedium") format("svg");
  font-weight: normal;
  font-style: normal; }

.front .header {
  background: darkgray; }

.messages {
  max-width: 1140px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid lightblue; }

.header-top {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 90%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 90%, transparent 100%); }

.header-top__wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.section-architectural .breadcrumb {
  display: none; }

.responsive-menus {
  margin-top: 10px; }

.footer .block-menu {
  margin-bottom: 0;
  min-height: unset; }

.region-footer-last {
  width: 80%;
  margin: 0 auto;
  float: none; }

.entity-paragraphs-item.paragraphs-item-118 {
  position: relative;
  margin-top: 50px; }
  .entity-paragraphs-item.paragraphs-item-118 .content {
    max-width: 800px; }
  @media (min-width: 960px) {
    .entity-paragraphs-item.paragraphs-item-118:after {
      position: absolute;
      right: 130px;
      top: -50px;
      content: '';
      display: block;
      width: 200px;
      height: 200px;
      background-image: url("img/paint-2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; } }

.view-footer {
  text-align: center;
  margin: 60px; }
  .view-footer .read-more {
    text-align: center;
    display: inline-block; }
    .view-footer .read-more a {
      display: block;
      font-size: 16px;
      border: 1px solid #272727;
      border-radius: 20px;
      padding: 10px 12px;
      color: black;
      font-family: "helveticaneuelight"; }
      @media (min-width: 640px) {
        .view-footer .read-more a {
          padding: 10px 30px; } }
    .view-footer .read-more a:hover {
      border-color: #526A89;
      color: #526A89; }

#block-views-recent-news-block .button a:hover,
#block-views-recent-news-block .read-more a:hover {
  border-color: #526A89;
  color: #526A89; }

.wrap-items .wrap-link .title {
  font: 29px 'HelveticaNeue-Light'; }

.page-node-16 .page-title {
  display: none; }

.page-node-16 .menu-block-3 .menu,
.page-node-30 .menu-block-3 .menu,
.page-node-22 .menu-block-3 .menu {
  background: white; }

.paragraphs-item-17.entity-paragraphs-item .content {
  max-width: 1060px; }

.tools-list .list-items {
  float: none; }

img {
  max-width: 100%; }

.element-invisible {
  display: none; }

.popup-element {
  text-align: center;
  margin: 60px;
  display: block; }

#webform-client-form-90 .form-actions {
  text-align: center;
  margin: 20px 0 10px;
  display: block; }

.popup-element-title, #webform-client-form-90 .form-submit {
  font-size: 16px;
  border: 1px solid #5C5C5C;
  border-radius: 20px;
  padding: 10px 12px;
  color: #5C5C5C;
  font-family: "helveticaneuelight";
  background: none;
  outline: 0; }
  @media (min-width: 640px) {
    .popup-element-title, #webform-client-form-90 .form-submit {
      padding: 10px 30px; } }

.popup-element-title:hover, #webform-client-form-90 .form-submit:hover {
  border-color: #4577D4;
  color: #4577D4; }

.popup-element-body input[type=text], .popup-element-body input[type=email] {
  width: 100%;
  margin: 10px 0;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #636363;
  background-color: white;
  outline: 0; }

#webform-client-form-90 {
  background: white; }
  #webform-client-form-90 label {
    display: none; }
  #webform-client-form-90 > div {
    padding: 5px; }

.messages {
  margin: 20px;
  border: 1px solid red; }
  .messages .messages__list {
    list-style: none;
    font-family: "helveticaneuemedium";
    font-size: 16px; }
  .messages .messages__icon {
    display: none; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track {
    height: 380px; }
    @media (min-width: 640px) {
      .slick-slider .slick-track {
        height: auto; } }
  .slick-slider .slick__content {
    color: white;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    font-family: "HelveticaNeue";
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.63); }
    @media (min-width: 640px) {
      .slick-slider .slick__content {
        width: 70%;
        top: 35%; } }
    @media (min-width: 960px) {
      .slick-slider .slick__content {
        width: 35%; } }
  .slick-slider .slick__title {
    color: white;
    font-size: 40px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.63);
    font-family: "Prata"; }
    @media (min-width: 640px) {
      .slick-slider .slick__title {
        font-size: 78px; } }
  .slick-slider .slick-arrow {
    position: absolute;
    top: 48%;
    z-index: 1;
    width: 15px;
    height: 27px;
    color: transparent;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: red; }
  .slick-slider .slick-next {
    right: 80px; }
  .slick-slider .slick-prev {
    left: 10px; }
  .slick-slider .slick-dots {
    display: none; }
    .slick-slider .slick-dots li {
      display: none; }

.view-about-slider .slides {
  overflow: hidden; }

.view-about-slider .views-field-body {
  font-size: 14px;
  font-family: "helveticaneuelight";
  color: white;
  line-height: 1.2;
  text-shadow: 0px 1px 1px #5e5e5e;
  position: absolute;
  padding: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%); }
  @media (min-width: 640px) {
    .view-about-slider .views-field-body {
      font-size: 18px;
      line-height: 1.3;
      padding: 10px 45px 35px; } }

.view-about-slider .flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
  padding: 0 70px; }
  .view-about-slider .flex-control-thumbs li {
    padding: 10px 3px;
    width: 50%; }
    @media (min-width: 640px) {
      .view-about-slider .flex-control-thumbs li {
        width: 33%; } }
    @media (min-width: 960px) {
      .view-about-slider .flex-control-thumbs li {
        width: 20%; } }

.view-about-slider .flex-direction-nav a {
  top: auto;
  bottom: 5%;
  display: block;
  opacity: 0.6; }

.view-about-slider .flex-direction-nav .flex-next {
  right: 10px; }

.view-about-slider .flex-direction-nav .flex-prev {
  left: 10px; }

#block-system-main-menu .menu {
  display: block; }

#block-system-main-menu .menu__item {
  margin: 0 8px;
  display: inline-block; }
  @media (min-width: 960px) {
    #block-system-main-menu .menu__item {
      margin: 0 20px; } }
  #block-system-main-menu .menu__item .menu {
    display: none; }

#block-system-main-menu .menu__link {
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease; }

#block-system-main-menu .menu__link:hover {
  border-bottom: 2px solid white; }

.menu-block-4 {
  display: none; }
  @media (min-width: 960px) {
    .menu-block-4 {
      display: block;
      position: absolute;
      z-index: 2;
      top: 35%;
      bottom: 10%;
      right: 0; } }
  .menu-block-4 .menu__item {
    list-style: none; }
  .menu-block-4 .menu__link {
    display: block;
    width: 100px;
    height: 50px;
    margin: 2px 0;
    background-color: #5C5C5C;
    background-image: url("img/sprite.png");
    font-size: 0; }
  .menu-block-4 .menu-mlid-343 .menu__link {
    background-position: -6px -123px; }
  .menu-block-4 .menu-mlid-344 .menu__link {
    background-position: -6px -65px; }
  .menu-block-4 .menu-mlid-345 .menu__link {
    background-position: -6px -184px; }
  .menu-block-4 .menu__link:hover {
    background-color: #4577D4; }

#block-menu-menu-architectural-top .menu,
.menu-block-3 .menu {
  text-align: center;
  padding: 20px 0;
  background: #F4F4F4; }

#block-menu-menu-architectural-top .menu__item,
.menu-block-3 .menu__item {
  display: inline-block;
  vertical-align: bottom;
  margin: 10px; }

#block-menu-menu-architectural-top .menu__link,
.menu-block-3 .menu__link {
  display: block;
  font-size: 18px;
  font-family: "helveticaneuelight";
  color: #5C5C5C;
  line-height: 1;
  border-bottom: 3px solid #5C5C5C;
  padding-bottom: 6px;
  width: 100px;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (min-width: 640px) {
    #block-menu-menu-architectural-top .menu__link,
    .menu-block-3 .menu__link {
      width: 167px; } }

#block-menu-menu-architectural-top .menu__link:hover,
.menu-block-3 .menu__link:hover {
  border-color: #4577D4;
  color: #4577D4; }

#block-menu-menu-architectural-top .menu__link.active,
.menu-block-3 .menu__link.active {
  color: black;
  border-color: black;
  font-weight: bold; }

.header-top .menu-name-main-menu .menu {
  padding-top: 0;
  display: block; }

.header-top .menu-name-main-menu .menu__item {
  display: inline-block;
  margin: 5px 0; }

.header-top .menu-name-main-menu .menu__link {
  padding: 5px 10px; }

.header-top .menu-name-main-menu .menu__link:hover {
  background-color: #4577D4; }

.header-top .menu-name-main-menu .menu__link.active-trail {
  background-color: #9C9C9C; }

.footer__wrapper {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 0;
  position: relative; }

.footer__logo {
  text-align: center; }
  @media (min-width: 640px) {
    .footer__logo {
      display: inline-block;
      vertical-align: top;
      width: 25%; } }
  .footer__logo img {
    max-width: 100%;
    padding: 0 0 20px; }
    @media (min-width: 640px) {
      .footer__logo img {
        padding: 0 20px 0 0; } }

.footer__menu {
  display: none; }
  @media (min-width: 640px) {
    .footer__menu {
      display: inline-block;
      vertical-align: top;
      width: 75%; } }

.region-footer-last {
  text-align: center;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  @media (min-width: 640px) {
    .region-footer-last {
      width: auto;
      text-align: left;
      position: absolute;
      bottom: 0;
      right: 10px; } }
  .region-footer-last ::-webkit-input-placeholder {
    color: white; }
  .region-footer-last ::-moz-placeholder {
    color: white; }
  .region-footer-last :-moz-placeholder {
    color: white; }
  .region-footer-last :-ms-input-placeholder {
    color: white; }
  .region-footer-last :focus::-webkit-input-placeholder {
    color: transparent;
    opacity: 0; }
  .region-footer-last :focus::-moz-placeholder {
    color: transparent;
    opacity: 0; }
  .region-footer-last :focus:-moz-placeholder {
    color: transparent;
    opacity: 0; }
  .region-footer-last :focus:-ms-input-placeholder {
    color: transparent;
    opacity: 0; }
  .region-footer-last #block-simplenews-0 .form-item-mail {
    width: 100%;
    margin-bottom: 10px; }
    @media (min-width: 640px) {
      .region-footer-last #block-simplenews-0 .form-item-mail {
        width: 155px; } }
  .region-footer-last #block-simplenews-0 input[value="Submit"] {
    width: 100%; }
    @media (min-width: 640px) {
      .region-footer-last #block-simplenews-0 input[value="Submit"] {
        width: auto; } }

#block-menu-block-2 {
  font-size: 16px; }

.menu-block-2 > .menu {
  font-size: 0; }
  .menu-block-2 > .menu > .menu__item {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 16px;
    font-family: 'helveticaneuemedium';
    min-height: 150px;
    margin-bottom: 35px;
    width: 50%; }
    @media (min-width: 640px) {
      .menu-block-2 > .menu > .menu__item {
        width: 33.33%; } }
    @media (min-width: 960px) {
      .menu-block-2 > .menu > .menu__item {
        width: 25%; } }
    .menu-block-2 > .menu > .menu__item > .menu__link {
      font: inherit;
      margin-bottom: 10px;
      display: inline-block; }
    .menu-block-2 > .menu > .menu__item li {
      display: block; }
    .menu-block-2 > .menu > .menu__item .menu__link:hover {
      color: #4577D4; }

#block-block-7,
#block-block-8 {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px; }
  #block-block-7 .block__title,
  #block-block-8 .block__title {
    font-size: 40px;
    font-family: "prataregular";
    color: black;
    line-height: 1.2;
    text-align: center;
    margin: 10px 0;
    font-weight: normal; }
    @media (min-width: 640px) {
      #block-block-7 .block__title,
      #block-block-8 .block__title {
        margin: 53px 0;
        font-size: 55px; } }
  #block-block-7 .row,
  #block-block-8 .row {
    display: inline-block;
    vertical-align: top;
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0; }
    @media (min-width: 640px) {
      #block-block-7 .row,
      #block-block-8 .row {
        width: 49%;
        padding: 0 20px; } }
  @media (min-width: 640px) {
    #block-block-7 .row:nth-child(odd),
    #block-block-8 .row:nth-child(odd) {
      padding: 0 0 0 60px; } }
  #block-block-7 .oasis-for,
  #block-block-8 .oasis-for {
    font-size: 0; }
    #block-block-7 .oasis-for .item,
    #block-block-8 .oasis-for .item {
      font-family: "helveticaneuelight";
      box-sizing: border-box;
      font-size: 18px;
      display: block;
      vertical-align: top;
      background-size: cover;
      height: 600px;
      padding: 60px 10px;
      text-align: center;
      color: white;
      margin: 5px auto;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      @media (min-width: 640px) {
        #block-block-7 .oasis-for .item,
        #block-block-8 .oasis-for .item {
          display: inline-block;
          width: 48%;
          margin: 1%; } }
    #block-block-7 .oasis-for .item-first,
    #block-block-8 .oasis-for .item-first {
      background-image: url("img/architectural1.jpg"); }
      #block-block-7 .oasis-for .item-first h3:after,
      #block-block-8 .oasis-for .item-first h3:after {
        background-image: url("img/house1.png");
        background-position: 11px 19px; }
    #block-block-7 .oasis-for .item-last,
    #block-block-8 .oasis-for .item-last {
      background-image: url("img/architectural2.jpg"); }
      #block-block-7 .oasis-for .item-last h3:after,
      #block-block-8 .oasis-for .item-last h3:after {
        background-image: url("img/house2.png");
        background-position: 16px 16px; }
    #block-block-7 .oasis-for .item-wrap,
    #block-block-8 .oasis-for .item-wrap {
      width: 280px;
      margin: 0 auto; }
      @media (min-width: 960px) {
        #block-block-7 .oasis-for .item-wrap,
        #block-block-8 .oasis-for .item-wrap {
          width: 300px; } }
    #block-block-7 .oasis-for h3,
    #block-block-8 .oasis-for h3 {
      font-size: 38px;
      height: 210px;
      color: white;
      line-height: 1;
      text-align: center;
      font-weight: normal;
      position: relative; }
    #block-block-7 .oasis-for h3:after,
    #block-block-8 .oasis-for h3:after {
      content: '';
      display: block;
      height: 90px;
      width: 90px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 20px auto;
      background-repeat: no-repeat;
      border-radius: 50px;
      border: 3px solid white;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #block-block-7 .oasis-for .item:hover,
    #block-block-8 .oasis-for .item:hover {
      opacity: 0.9; }
      #block-block-7 .oasis-for .item:hover h3:after,
      #block-block-8 .oasis-for .item:hover h3:after {
        border-color: lightblue; }

#block-block-8 {
  background: white;
  margin-bottom: 80px; }
  @media (min-width: 640px) {
    #block-block-8 .block__title {
      margin: 70px 0; } }

.paragraphs-item-simple-text,
.paragraphs-item-2-column-text {
  font-size: 0;
  display: block; }
  .paragraphs-item-simple-text .content,
  .paragraphs-item-2-column-text .content {
    padding: 10px 0;
    max-width: 1070px;
    margin: 0 auto; }
  .paragraphs-item-simple-text .field-name-field-p-text-block,
  .paragraphs-item-simple-text .field-name-field-p-left-block,
  .paragraphs-item-simple-text .field-name-field-p-right-block,
  .paragraphs-item-2-column-text .field-name-field-p-text-block,
  .paragraphs-item-2-column-text .field-name-field-p-left-block,
  .paragraphs-item-2-column-text .field-name-field-p-right-block {
    vertical-align: top;
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5; }
    @media (min-width: 640px) {
      .paragraphs-item-simple-text .field-name-field-p-text-block,
      .paragraphs-item-simple-text .field-name-field-p-left-block,
      .paragraphs-item-simple-text .field-name-field-p-right-block,
      .paragraphs-item-2-column-text .field-name-field-p-text-block,
      .paragraphs-item-2-column-text .field-name-field-p-left-block,
      .paragraphs-item-2-column-text .field-name-field-p-right-block {
        padding: 0 20px; } }
    .paragraphs-item-simple-text .field-name-field-p-text-block p,
    .paragraphs-item-simple-text .field-name-field-p-left-block p,
    .paragraphs-item-simple-text .field-name-field-p-right-block p,
    .paragraphs-item-2-column-text .field-name-field-p-text-block p,
    .paragraphs-item-2-column-text .field-name-field-p-left-block p,
    .paragraphs-item-2-column-text .field-name-field-p-right-block p {
      margin-bottom: 25px; }
  .paragraphs-item-simple-text .field-name-field-p-text-block,
  .paragraphs-item-2-column-text .field-name-field-p-text-block {
    text-align: center; }
  .paragraphs-item-simple-text .field-name-field-p-left-block,
  .paragraphs-item-simple-text .field-name-field-p-right-block,
  .paragraphs-item-2-column-text .field-name-field-p-left-block,
  .paragraphs-item-2-column-text .field-name-field-p-right-block {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    box-sizing: border-box; }
    @media (min-width: 640px) {
      .paragraphs-item-simple-text .field-name-field-p-left-block,
      .paragraphs-item-simple-text .field-name-field-p-right-block,
      .paragraphs-item-2-column-text .field-name-field-p-left-block,
      .paragraphs-item-2-column-text .field-name-field-p-right-block {
        width: 50%; } }
  @media (min-width: 640px) {
    .paragraphs-item-simple-text .field-name-field-p-left-block,
    .paragraphs-item-2-column-text .field-name-field-p-left-block {
      padding-right: 50px; } }
  @media (min-width: 640px) {
    .paragraphs-item-simple-text .field-name-field-p-right-block,
    .paragraphs-item-2-column-text .field-name-field-p-right-block {
      padding-left: 50px; } }

.paragraphs-item-html-block .field-name-field-p-html img {
  max-width: 100%; }

.paragraphs-item-text-block .field-name-field-p-text-block,
.paragraphs-item-views .field-name-field-p-text-block,
.paragraphs-item-html-block .field-name-field-p-text-block,
.paragraphs-item-created-block .field-name-field-p-text-block {
  font-family: "helveticaneuelight";
  font-size: 16px;
  line-height: 1.5; }
  .paragraphs-item-text-block .field-name-field-p-text-block .field-item,
  .paragraphs-item-views .field-name-field-p-text-block .field-item,
  .paragraphs-item-html-block .field-name-field-p-text-block .field-item,
  .paragraphs-item-created-block .field-name-field-p-text-block .field-item {
    margin-bottom: 25px;
    text-align: center; }

.paragraphs-item-text-block.col-2 .field-name-field-p-text-block .field-item,
.paragraphs-item-views.col-2 .field-name-field-p-text-block .field-item,
.paragraphs-item-html-block.col-2 .field-name-field-p-text-block .field-item,
.paragraphs-item-created-block.col-2 .field-name-field-p-text-block .field-item {
  text-align: left; }
  @media (min-width: 640px) {
    .paragraphs-item-text-block.col-2 .field-name-field-p-text-block .field-item,
    .paragraphs-item-views.col-2 .field-name-field-p-text-block .field-item,
    .paragraphs-item-html-block.col-2 .field-name-field-p-text-block .field-item,
    .paragraphs-item-created-block.col-2 .field-name-field-p-text-block .field-item {
      display: inline-block;
      vertical-align: top;
      width: 50%; } }

@media (min-width: 640px) {
  .paragraphs-item-text-block.col-2 .field-name-field-p-text-block .even,
  .paragraphs-item-views.col-2 .field-name-field-p-text-block .even,
  .paragraphs-item-html-block.col-2 .field-name-field-p-text-block .even,
  .paragraphs-item-created-block.col-2 .field-name-field-p-text-block .even {
    padding-right: 50px; } }

@media (min-width: 640px) {
  .paragraphs-item-text-block.col-2 .field-name-field-p-text-block .odd,
  .paragraphs-item-views.col-2 .field-name-field-p-text-block .odd,
  .paragraphs-item-html-block.col-2 .field-name-field-p-text-block .odd,
  .paragraphs-item-created-block.col-2 .field-name-field-p-text-block .odd {
    padding-left: 50px; } }

.paragraphs-item-image-info {
  position: relative; }
  .paragraphs-item-image-info .content {
    height: inherit;
    text-align: center; }
    .paragraphs-item-image-info .content .field-name-field-p-title {
      color: white;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      font-size: 38px;
      line-height: 1;
      font-family: "helveticaneuelight";
      font-weight: normal;
      height: 90px;
      padding: 0; }
    .paragraphs-item-image-info .content .field-name-field-p-text-block {
      color: white;
      position: absolute;
      top: 260px;
      left: 0;
      right: 0;
      text-align: center;
      font-family: "helveticaneuelight";
      font-size: 18px;
      margin: 20px; }
    .paragraphs-item-image-info .content .field-name-field-p-image-front {
      position: absolute;
      top: 150px;
      left: 0;
      right: 0;
      height: 100px;
      width: 100px;
      margin: 0 auto; }

.field-name-field-p-image-back {
  position: relative; }
  .field-name-field-p-image-back img {
    max-width: 100%;
    height: auto;
    min-height: 250px;
    max-height: 400px; }
    @media (min-width: 960px) {
      .field-name-field-p-image-back img {
        max-height: unset; } }

.field-name-field-p-image-back:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.paragraphs-item-image-info:hover .field-name-field-p-image-back:after {
  background: rgba(0, 0, 0, 0.3); }

.field-name-field-p-image-front {
  border-radius: 100%;
  border: 3px solid white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block; }
  .field-name-field-p-image-front img {
    height: 90px;
    width: 90px;
    padding: 20px; }

.entity-paragraphs-item.paragraphs-item-images-block .content {
  font-size: 0;
  padding: 15px 0; }

@media (min-width: 640px) {
  .entity-paragraphs-item.paragraphs-item-images-block .field-name-field-p-image-info > .field-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.entity-paragraphs-item.paragraphs-item-images-block .field-name-field-p-image-info > .field-items > .field-item {
  margin: 0 auto;
  padding: 15px; }
  @media (min-width: 640px) {
    .entity-paragraphs-item.paragraphs-item-images-block .field-name-field-p-image-info > .field-items > .field-item {
      margin: 0;
      padding: 15px;
      max-width: 580px; } }

.paragraphs-item-images-block.wide .field-name-field-p-image-info > .field-items > .field-item {
  max-width: unset;
  width: 100%;
  height: auto;
  padding: 15px 0; }
  .paragraphs-item-images-block.wide .field-name-field-p-image-info > .field-items > .field-item .field-name-field-p-title,
  .paragraphs-item-images-block.wide .field-name-field-p-image-info > .field-items > .field-item .field-name-field-p-text-block,
  .paragraphs-item-images-block.wide .field-name-field-p-image-info > .field-items > .field-item .field-name-field-p-link {
    position: absolute;
    left: 0;
    right: 0; }
  .paragraphs-item-images-block.wide .field-name-field-p-image-info > .field-items > .field-item .field-name-field-p-title {
    top: 30px;
    font-family: "prataregular";
    line-height: 1.2;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    padding: 10px 0; }
    @media (min-width: 960px) {
      .paragraphs-item-images-block.wide .field-name-field-p-image-info > .field-items > .field-item .field-name-field-p-title {
        padding: 30px 0;
        font-size: 55px; } }
  .paragraphs-item-images-block.wide .field-name-field-p-image-info > .field-items > .field-item .field-name-field-p-text-block {
    top: 90px;
    max-width: 700px;
    margin: 0 auto;
    display: none; }
    @media (min-width: 640px) {
      .paragraphs-item-images-block.wide .field-name-field-p-image-info > .field-items > .field-item .field-name-field-p-text-block {
        display: block;
        top: 150px; } }
  .paragraphs-item-images-block.wide .field-name-field-p-image-info > .field-items > .field-item .field-name-field-p-link {
    bottom: 10px;
    margin: 30px; }
    .paragraphs-item-images-block.wide .field-name-field-p-image-info > .field-items > .field-item .field-name-field-p-link a {
      color: white;
      border-color: white; }

.paragraphs-item-image-left-text-right {
  clear: both;
  text-align: center;
  margin-bottom: 20px; }
  @media (min-width: 640px) {
    .paragraphs-item-image-left-text-right {
      text-align: left;
      margin-bottom: 50px; } }
  @media (min-width: 960px) {
    .paragraphs-item-image-left-text-right {
      margin-bottom: 150px; } }
  .paragraphs-item-image-left-text-right .content {
    font-size: 0; }
  .paragraphs-item-image-left-text-right .s-image {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; }
    @media (min-width: 640px) {
      .paragraphs-item-image-left-text-right .s-image {
        padding-right: 20px;
        width: 45%; } }
    @media (min-width: 960px) {
      .paragraphs-item-image-left-text-right .s-image {
        padding-right: 110px;
        width: 45%; } }
    .paragraphs-item-image-left-text-right .s-image img {
      display: inline-block;
      max-width: 100%;
      height: auto; }
  .paragraphs-item-image-left-text-right .s-content {
    display: inline-block;
    vertical-align: top; }
    @media (min-width: 640px) {
      .paragraphs-item-image-left-text-right .s-content {
        width: 55%; } }
    .paragraphs-item-image-left-text-right .s-content .field-name-field-p-title {
      font-size: 35px;
      padding: 10px 0 10px; }
      @media (min-width: 640px) {
        .paragraphs-item-image-left-text-right .s-content .field-name-field-p-title {
          text-align: left;
          padding: 0 0 10px; } }
      @media (min-width: 960px) {
        .paragraphs-item-image-left-text-right .s-content .field-name-field-p-title {
          font-size: 45px;
          padding: 0 0 40px; } }
    .paragraphs-item-image-left-text-right .s-content .field-name-field-p-text-block {
      font-family: "helveticaneuelight";
      font-size: 16px;
      line-height: 1.5; }
      .paragraphs-item-image-left-text-right .s-content .field-name-field-p-text-block .field-item {
        margin-bottom: 25px; }

.paragraphs-item-image-left-text-right.paragraphs-item-117 {
  margin-bottom: 20px; }
  @media (min-width: 640px) {
    .paragraphs-item-image-left-text-right.paragraphs-item-117 .s-image {
      width: 34%;
      padding-right: 0; }
    .paragraphs-item-image-left-text-right.paragraphs-item-117 .s-content {
      width: 66%; } }

.entity-paragraphs-item .content {
  padding: 15px;
  max-width: 1140px;
  margin: 0 auto;
  color: black; }

.entity-paragraphs-item .field-name-field-p-title {
  font-family: "prataregular";
  line-height: 1.2;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  padding: 10px 0; }
  @media (min-width: 640px) {
    .entity-paragraphs-item .field-name-field-p-title {
      padding: 53px 0;
      font-size: 55px; } }

.entity-paragraphs-item .field-name-field-p-link {
  text-align: center;
  margin: 60px; }
  .entity-paragraphs-item .field-name-field-p-link a {
    font-size: 16px;
    border: 1px solid #5C5C5C;
    border-radius: 20px;
    padding: 10px 12px;
    color: #5C5C5C;
    font-family: "helveticaneuelight"; }
    @media (min-width: 640px) {
      .entity-paragraphs-item .field-name-field-p-link a {
        padding: 10px 30px; } }
  .entity-paragraphs-item .field-name-field-p-link a:hover {
    border-color: #4577D4;
    color: #4577D4; }

.entity-paragraphs-item.white {
  background: white; }

.entity-paragraphs-item.gray {
  background: #F4F4F4; }

.entity-paragraphs-item.wide .content {
  padding: 0;
  margin: 0;
  max-width: unset; }

.paragraphs-item-tabs .field-name-field-p-text-block {
  font-family: "helveticaneuelight";
  font-size: 16px;
  line-height: 1.5;
  text-align: center; }

.paragraphs-item-46 .ui-tabs,
.paragraphs-item-76 .ui-tabs,
.paragraphs-item-77 .ui-tabs,
.paragraphs-item-133 .ui-tabs {
  border: 0;
  font-size: 0;
  padding-top: 50px;
  text-align: center;
  background: transparent; }
  .paragraphs-item-46 .ui-tabs .tabs_short_info,
  .paragraphs-item-76 .ui-tabs .tabs_short_info,
  .paragraphs-item-77 .ui-tabs .tabs_short_info,
  .paragraphs-item-133 .ui-tabs .tabs_short_info {
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 40px 0 0; }
  .paragraphs-item-46 .ui-tabs .ui-widget-header,
  .paragraphs-item-76 .ui-tabs .ui-widget-header,
  .paragraphs-item-77 .ui-tabs .ui-widget-header,
  .paragraphs-item-133 .ui-tabs .ui-widget-header {
    background: none;
    border: 0; }
    .paragraphs-item-46 .ui-tabs .ui-widget-header .ui-state-default,
    .paragraphs-item-76 .ui-tabs .ui-widget-header .ui-state-default,
    .paragraphs-item-77 .ui-tabs .ui-widget-header .ui-state-default,
    .paragraphs-item-133 .ui-tabs .ui-widget-header .ui-state-default {
      background: none;
      border: 0;
      margin-right: 40px;
      padding: 10px 0;
      float: none;
      display: inline-block; }
      .paragraphs-item-46 .ui-tabs .ui-widget-header .ui-state-default .ui-tabs-anchor,
      .paragraphs-item-76 .ui-tabs .ui-widget-header .ui-state-default .ui-tabs-anchor,
      .paragraphs-item-77 .ui-tabs .ui-widget-header .ui-state-default .ui-tabs-anchor,
      .paragraphs-item-133 .ui-tabs .ui-widget-header .ui-state-default .ui-tabs-anchor {
        display: block;
        font-size: 18px;
        font-family: "helveticaneuelight";
        color: #444444;
        line-height: 1;
        border-bottom: 3px solid #727272;
        padding: 0 20px 6px 0;
        text-align: left;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        outline: 0; }
    .paragraphs-item-46 .ui-tabs .ui-widget-header .ui-tabs-active .ui-tabs-anchor,
    .paragraphs-item-76 .ui-tabs .ui-widget-header .ui-tabs-active .ui-tabs-anchor,
    .paragraphs-item-77 .ui-tabs .ui-widget-header .ui-tabs-active .ui-tabs-anchor,
    .paragraphs-item-133 .ui-tabs .ui-widget-header .ui-tabs-active .ui-tabs-anchor {
      color: black;
      border-color: black;
      font-weight: bold; }
  .paragraphs-item-46 .ui-tabs h3,
  .paragraphs-item-76 .ui-tabs h3,
  .paragraphs-item-77 .ui-tabs h3,
  .paragraphs-item-133 .ui-tabs h3 {
    font-family: "prataregular";
    line-height: 1.2;
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    padding: 60px 0 40px; }
  .paragraphs-item-46 .ui-tabs .tabs-el,
  .paragraphs-item-76 .ui-tabs .tabs-el,
  .paragraphs-item-77 .ui-tabs .tabs-el,
  .paragraphs-item-133 .ui-tabs .tabs-el {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 10px; }
    @media (min-width: 640px) {
      .paragraphs-item-46 .ui-tabs .tabs-el,
      .paragraphs-item-76 .ui-tabs .tabs-el,
      .paragraphs-item-77 .ui-tabs .tabs-el,
      .paragraphs-item-133 .ui-tabs .tabs-el {
        width: 33.33%; } }
  .paragraphs-item-46 .ui-tabs .tabs-el__title,
  .paragraphs-item-76 .ui-tabs .tabs-el__title,
  .paragraphs-item-77 .ui-tabs .tabs-el__title,
  .paragraphs-item-133 .ui-tabs .tabs-el__title {
    font-size: 23px;
    font-weight: normal;
    padding: 20px 0 20px; }

.paragraphs-item-133 .ui-tabs {
  font-size: 16px; }

.paragraphs-item-133 .ui-widget-content {
  -ms-text-align-last: right;
  text-align: left; }

.ui-tabs-vertical {
  width: auto; }
  @media (min-width: 640px) {
    .ui-tabs-vertical {
      width: 55em; } }
  .ui-tabs-vertical .ui-tabs-panel {
    width: auto; }
    @media (min-width: 640px) {
      .ui-tabs-vertical .ui-tabs-panel {
        width: 40em; } }
  .ui-tabs-vertical .ui-tabs-anchor {
    display: block; }

h2.visually-hidden {
  display: none; }

ul.tabs {
  text-align: center; }
  ul.tabs .tabs__tab {
    display: inline-block;
    margin: 5px; }
    ul.tabs .tabs__tab.is-active .tabs__tab-link {
      background: lightblue; }
      ul.tabs .tabs__tab.is-active .tabs__tab-link .visually-hidden {
        display: none; }
  ul.tabs .tabs__tab-link {
    display: block;
    background: lightgray;
    padding: 5px 10px;
    color: black;
    border-radius: 3px; }

.page-title {
  font-family: "prataregular";
  line-height: 1.2;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  padding: 10px 0; }
  @media (min-width: 640px) {
    .page-title {
      padding: 53px 0;
      font-size: 55px; } }

.field-name-body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
  font-family: "helveticaneuelight";
  font-size: 16px;
  line-height: 1.5; }
  .field-name-body p {
    margin: 0 0 25px; }

.node-type-news article.node {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
  font-family: "helveticaneuelight";
  font-size: 16px;
  line-height: 1.5; }
  .node-type-news article.node p {
    margin: 25px 0; }
  .node-type-news article.node img {
    max-width: 100%;
    height: auto; }

.header {
  background-image: url("img/header_news.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px; }
  .header .field-name-field-header-image {
    position: relative;
    font-size: 0; }
    .header .field-name-field-header-image img {
      max-width: 100%;
      height: auto;
      min-height: 250px; }

.header__title-group {
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.63);
  top: 45%;
  left: 0;
  right: 0;
  padding: 15px; }
  .header__title-group h1 {
    font-size: 40px;
    font-family: "Prata";
    font-weight: normal; }
    @media (min-width: 640px) {
      .header__title-group h1 {
        font-size: 50px; } }
    @media (min-width: 960px) {
      .header__title-group h1 {
        font-size: 78px; } }
  .header__title-group .field-name-field-page-subtitle {
    display: none; }
    @media (min-width: 640px) {
      .header__title-group .field-name-field-page-subtitle {
        font-size: 21px;
        font-family: "HelveticaNeue";
        display: block; } }

.clients {
  text-align: center;
  font-size: 0; }

.client {
  display: block;
  font-size: 23px;
  font-family: "helveticaneuelight";
  border-top: 1px solid #ebebeb;
  padding: 40px; }
  @media (min-width: 640px) {
    .client {
      display: inline-block;
      vertical-align: top;
      width: 50%; } }
  @media (min-width: 960px) {
    .client {
      width: 33.33%; } }

.view-product-tables {
  font-size: 0; }
  @media (min-width: 960px) {
    .view-product-tables .view-filters {
      display: inline-block;
      vertical-align: top;
      width: 25%; } }
  .view-product-tables .view-filters input[type="checkbox"] {
    position: relative; }
  .view-product-tables .view-filters input[type="checkbox"]:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    background: white;
    border: 1px solid black; }
  .view-product-tables .view-filters input[type="checkbox"]:checked:after {
    background: black; }
  .view-product-tables .view-filters input[type="checkbox"] + label {
    padding-left: 10px;
    font-family: "helveticaneuelight";
    font-size: 18px; }
  .view-product-tables .view-filters .form-type-bef-checkbox {
    padding-bottom: 20px; }
    @media (min-width: 640px) {
      .view-product-tables .view-filters .form-type-bef-checkbox {
        display: inline-block;
        vertical-align: top;
        width: 50%; } }
    @media (min-width: 960px) {
      .view-product-tables .view-filters .form-type-bef-checkbox {
        display: block;
        width: auto; } }
  .view-product-tables .view-filters #edit-field-category-tid-wrapper {
    margin-top: 10px;
    border-top: 2px solid #ECECEC;
    padding-top: 10px; }
    @media (min-width: 960px) {
      .view-product-tables .view-filters #edit-field-category-tid-wrapper {
        margin-top: 50px;
        border: 0; } }
  .view-product-tables .view-filters .views-submit-button {
    display: none; }
  .view-product-tables .view-filters:before {
    content: 'Filter by';
    display: block;
    margin: 20px 0;
    font-family: "helveticaneuelight";
    font-weight: normal;
    font-size: 16px;
    color: #777; }
  .view-product-tables .view-content {
    max-height: 400px;
    overflow: auto; }
    @media (min-width: 640px) {
      .view-product-tables .view-content {
        max-height: 600px; } }
    @media (min-width: 960px) {
      .view-product-tables .view-content {
        display: inline-block;
        vertical-align: top;
        max-height: 890px;
        width: 75%; } }
  .view-product-tables table {
    border-spacing: 10px; }
    .view-product-tables table td.views-field-title {
      font-family: "helveticaneuemedium";
      font-size: 14px;
      color: black; }
      .view-product-tables table td.views-field-title a {
        font-size: 20px;
        color: black;
        margin-bottom: 10px;
        display: inline-block; }
    .view-product-tables table th {
      font-family: "helveticaneuelight";
      font-weight: normal;
      font-size: 16px;
      color: #777; }
    .view-product-tables table tr td {
      padding: 10px; }
    .view-product-tables table tr td:not(:first-child) {
      width: 120px;
      height: 120px;
      position: relative; }
      .view-product-tables table tr td:not(:first-child) img {
        display: none; }
      .view-product-tables table tr td:not(:first-child) a {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("img/icon_pdf.png");
        background-repeat: no-repeat;
        background-position: center;
        font-size: 0;
        opacity: 0.5;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      .view-product-tables table tr td:not(:first-child) a:hover {
        opacity: 1; }
    .view-product-tables table tr.odd td:nth-child(1) {
      background: #F6F6F6; }
    .view-product-tables table tr.odd td:nth-child(2) {
      background: #F5F5F5; }
    .view-product-tables table tr.odd td:nth-child(3) {
      background: #EFEFEF; }
    .view-product-tables table tr.odd td:nth-child(4) {
      background: #EDEDED; }
    .view-product-tables table tr.odd td:nth-child(5) {
      background: #ECECEC; }
    .view-product-tables table tr.even td:nth-child(1) {
      background: #FAFAFA; }
    .view-product-tables table tr.even td:nth-child(2) {
      background: #F9F9F9; }
    .view-product-tables table tr.even td:nth-child(3) {
      background: #F7F7F7; }
    .view-product-tables table tr.even td:nth-child(4) {
      background: #F6F6F6; }
    .view-product-tables table tr.even td:nth-child(5) {
      background: #F5F5F5; }

.milestone {
  font-size: 0; }

@media (min-width: 640px) {
  .milestone__date {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 25px 40px; } }

.milestone__content {
  border-top: 1px solid black;
  padding: 10px 0 20px; }
  @media (min-width: 640px) {
    .milestone__content {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 80%;
      border-top: 0;
      border-left: 1px solid black;
      padding-top: 20px; } }

@media (min-width: 640px) {
  .milestone__content:before {
    content: '◯';
    font-size: 11px;
    font-weight: bold;
    background: white;
    position: absolute;
    left: -7px;
    top: 30px; } }

@media (min-width: 640px) {
  .milestone__title {
    margin-left: 40px; } }

@media (min-width: 640px) {
  .milestone__info {
    padding-bottom: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
    border-bottom: 1px solid #e5e5e5; } }

.milestone__info:first-child {
  margin-top: 45px; }

.milestone__date, .milestone__info, .milestone__title {
  font-size: 16px;
  line-height: 1.5;
  font-family: "helveticaneuelight";
  color: black; }

.milestone__title a {
  font-size: 23px;
  color: black; }

.view-accolades-achievements .view-content, .view-id-keyfeatures .view-content, .view-projects .view-content, .view-id-product_range .view-content {
  font-size: 0;
  margin-top: 40px; }

.view-accolades-achievements .views-row, .view-id-keyfeatures .views-row, .view-projects .views-row, .view-id-product_range .views-row {
  text-align: center;
  font-size: 16px;
  font-family: "helveticaneuelight";
  padding: 10px; }
  @media (min-width: 640px) {
    .view-accolades-achievements .views-row, .view-id-keyfeatures .views-row, .view-projects .views-row, .view-id-product_range .views-row {
      display: inline-block;
      vertical-align: top;
      padding: 10px 60px;
      width: 50%; } }
  @media (min-width: 960px) {
    .view-accolades-achievements .views-row, .view-id-keyfeatures .views-row, .view-projects .views-row, .view-id-product_range .views-row {
      width: 33.33%; } }

.view-id-product_range .views-row {
  margin-bottom: 40px; }
  @media (min-width: 960px) {
    .view-id-product_range .views-row {
      width: 50%; } }

.view-id-product_range .views-field-title {
  font-size: 20px;
  padding: 20px 0;
  text-align: left; }

.view-id-product_range .views-field-body {
  font-size: 16px;
  line-height: 1.4;
  text-align: left; }

.view-id-product_range img {
  width: 100%;
  height: auto; }

.view-id-keyfeatures {
  text-align: center; }
  .view-id-keyfeatures .views-field-title {
    font-size: 20px;
    padding: 20px 0; }
  .view-id-keyfeatures .views-field-body {
    font-size: 16px; }

.view-projects .view-content {
  color: white;
  font-family: "helveticaneuelight"; }

.view-projects .views-row {
  position: relative;
  padding: 5px; }

.view-projects .views-field-field-image {
  font-size: 0;
  position: relative; }
  .view-projects .views-field-field-image img {
    width: 100%;
    max-width: 100%;
    height: auto; }

.view-projects .views-field-field-image:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.view-projects .views-row:hover .views-field-field-image:after {
  background: rgba(0, 0, 0, 0.5); }

.view-projects .views-field-title {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 15px;
  font-size: 29px; }

.view-projects .views-field-body {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 15px;
  font-size: 16px; }

#views-exposed-form-country-presents-block, #views-exposed-form-country-presents-block-2 {
  text-align: center;
  margin-bottom: 40px; }
  #views-exposed-form-country-presents-block .views-exposed-widget, #views-exposed-form-country-presents-block-2 .views-exposed-widget {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px; }

#edit-field-country-presence-tid, #edit-field-city-tid {
  margin: 10px 0;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #636363;
  outline: 0;
  width: 200px;
  background: white; }

.form-item-field-country-presence-tid,
.form-item-field-city-tid {
  position: relative;
  display: inline-block; }

.form-item-field-country-presence-tid:after,
.form-item-field-city-tid:after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 17px;
  right: 7px;
  background-color: white;
  background-image: url("img/dropdown.png");
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none; }

#edit-submit-country-presents {
  display: none; }

.page-node-22 .element-invisible {
  display: none; }

.page-node-22 .form-text, .page-node-22 .form-textarea {
  margin: 10px 0;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #636363;
  width: 100%; }

.page-node-22 .webform-submit {
  margin: 10px 0;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #636363;
  background-color: white;
  outline: 0; }

.page-node-22 .contact h2 {
  font-size: 45px;
  padding: 10px 0;
  font-family: "prataregular";
  font-weight: normal; }

@media (min-width: 640px) {
  .page-node-22 .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-repeat: no-repeat;
    background-position: 70% 70%; } }

@media (min-width: 960px) {
  .page-node-22 .contact {
    background-image: url("img/paint-2.png"); } }

.page-node-22 .contact p {
  font-family: "helveticaneuelight";
  font-size: 18px;
  padding-bottom: 20px; }

.page-node-22 .contact__form {
  background: white;
  padding: 10px;
  box-sizing: border-box; }
  @media (min-width: 640px) {
    .page-node-22 .contact__form {
      display: inline-block;
      vertical-align: top; } }

.page-node-22 .contact__details {
  background: white;
  padding: 10px;
  box-sizing: border-box; }
  @media (min-width: 640px) {
    .page-node-22 .contact__details {
      display: inline-block;
      vertical-align: top; } }

#_tp_Calculator {
  position: relative; }
  #_tp_Calculator select, #_tp_Calculator input, #_tp_Calculator #_tp_btnCalculate {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #636363;
    background-color: white;
    outline: 0;
    text-align: center; }
  #_tp_Calculator ._tp_section_wrapper {
    padding: 40px 0;
    font-size: 0;
    text-align: center; }
  #_tp_Calculator ._tp_section {
    margin: 20px; }
    @media (min-width: 640px) {
      #_tp_Calculator ._tp_section {
        display: inline-block;
        vertical-align: bottom; } }
  #_tp_Calculator label {
    font-size: 15px;
    color: #A4A5A3;
    display: block; }
  #_tp_Calculator p {
    text-align: center;
    font-size: 22px; }
  #_tp_Calculator #_tp_result {
    font-weight: bold; }
  #_tp_Calculator #_tp_btnCalculate {
    padding: 10px 30px; }
    @media (min-width: 640px) {
      #_tp_Calculator #_tp_btnCalculate {
        margin-left: 60px; } }

.form-item-field-country-presence-tid {
  position: relative;
  display: inline-block; }

.form-item-field-country-presence-tid:after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 17px;
  right: 7px;
  background-color: white;
  background-image: url("img/dropdown.png");
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none; }

#_tp_Painter {
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  max-width: 960px; }
  #_tp_Painter ._tp_pick {
    display: inline-block;
    position: relative;
    top: -38px;
    width: 100%; }
    #_tp_Painter ._tp_pick ul ._tp_tabHead {
      box-sizing: border-box;
      float: none;
      margin: 0;
      padding-bottom: 10px;
      display: inline-block;
      vertical-align: top;
      width: 23%;
      font-size: 22px;
      line-height: 1;
      font-family: "helveticaneuelight";
      color: #444444;
      text-align: left;
      border-bottom: 2px solid #444444; }
      @media (min-width: 640px) {
        #_tp_Painter ._tp_pick ul ._tp_tabHead {
          width: 28%; } }
      #_tp_Painter ._tp_pick ul ._tp_tabHead:not(:last-child) {
        margin-right: 30px; }
      #_tp_Painter ._tp_pick ul ._tp_tabHead._tp_tabActive {
        font-family: "helveticaneuemedium";
        color: black;
        border-color: black; }
    #_tp_Painter ._tp_pick ._tp_colorPicker {
      border: 0;
      margin: 0; }
  #_tp_Painter #_tp_tabs {
    padding-top: 70px; }
    #_tp_Painter #_tp_tabs ul ._tp_subtabHead {
      padding: 0 50px 50px 30px;
      position: relative;
      color: black;
      font-family: "helveticaneuelight";
      font-size: 18px;
      cursor: default;
      display: inline-block;
      float: none; }
    #_tp_Painter #_tp_tabs ul ._tp_subtabHead._tp_subtabActive {
      border: 0; }
    #_tp_Painter #_tp_tabs ul ._tp_subtabHead:before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid black;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    #_tp_Painter #_tp_tabs ul ._tp_subtabHead._tp_subtabActive:before {
      background: black; }
  #_tp_Painter #_tp_subtab3 p {
    padding: 20px;
    font-family: "helveticaneuelight";
    font-size: 18px; }
  #_tp_Painter #_tp_subtab3 input {
    font-size: 16px;
    border: 1px solid #5C5C5C;
    border-radius: 20px;
    padding: 10px 12px;
    background: white;
    text-align: center;
    margin: 0 10px;
    outline: 0; }
  #_tp_Painter #_tp_btnDownload, #_tp_Painter #_tp_btnAny {
    font-size: 16px;
    border: 1px solid #5C5C5C;
    border-radius: 20px;
    padding: 10px 12px;
    background: white;
    color: #5C5C5C;
    font-family: "helveticaneuelight";
    display: inline-block;
    margin: 20px;
    outline: 0; }
    @media (min-width: 640px) {
      #_tp_Painter #_tp_btnDownload, #_tp_Painter #_tp_btnAny {
        padding: 10px 30px; } }
  #_tp_Painter #_tp_btnDownload:hover, #_tp_Painter #_tp_btnAny:hover {
    border-color: #4577D4;
    color: #4577D4; }
  #_tp_Painter ._tp_colors {
    max-width: 640px;
    margin: 0 auto; }

.tools-list .list-items {
  display: inline-block;
  vertical-align: top;
  padding: 10px; }
  @media (min-width: 640px) {
    .tools-list .list-items {
      width: 33%; } }

.oasis-assist .item-wrap {
  position: relative; }

.oasis-assist .item-wrap:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: none; }

.oasis-assist .item:hover .item-wrap:after {
  background: rgba(0, 0, 0, 0.2); }

@media (min-width: 640px) {
  .view-id-recent_news.view-display-id-block_2 .view-content-block {
    float: left;
    width: 68%; } }

@media (min-width: 640px) {
  .view-id-recent_news.view-display-id-block_2 .view-footer {
    float: left;
    width: 32%;
    margin: 0;
    padding: 0 10px; } }

.view-id-recent_news.view-display-id-block_2 .node-title a {
  color: black;
  font-weight: normal;
  font-size: 40px;
  padding: 20px 0;
  display: block; }

.view-id-recent_news.view-display-id-block_2 .view-recent-news.view-display-id-block_1 {
  text-align: left; }
  .view-id-recent_news.view-display-id-block_2 .view-recent-news.view-display-id-block_1 .views-row {
    padding: 10px 0; }

.view-id-recent_news.view-display-id-block_2 .view-footer {
  margin: 0;
  box-sizing: border-box; }
  .view-id-recent_news.view-display-id-block_2 .view-footer h2 {
    text-align: left;
    font-size: 26px;
    font-family: "prataregular";
    font-weight: normal;
    margin-bottom: 20px; }
  @media (min-width: 640px) {
    .view-id-recent_news.view-display-id-block_2 .view-footer {
      padding-left: 50px; } }
  @media (min-width: 960px) {
    .view-id-recent_news.view-display-id-block_2 .view-footer {
      padding-left: 110px; } }

.view-id-recent_news.view-display-id-block_2 .view-display-id-block_1 .title a {
  font-family: "helveticaneuelight";
  color: black; }
  .view-id-recent_news.view-display-id-block_2 .view-display-id-block_1 .title a:hover {
    text-decoration: underline; }

.view-id-recent_news.view-display-id-block_2 .pager {
  list-style: none;
  margin-bottom: 50px; }
  @media (min-width: 640px) {
    .view-id-recent_news.view-display-id-block_2 .pager {
      margin-bottom: 100px; } }
  .view-id-recent_news.view-display-id-block_2 .pager .ajax-progress {
    display: none; }
  .view-id-recent_news.view-display-id-block_2 .pager li {
    display: inline-block;
    vertical-align: bottom;
    font-size: 16px;
    border: 1px solid #5C5C5C;
    border-radius: 20px;
    color: #5C5C5C;
    font-family: "helveticaneuelight";
    background: none;
    outline: 0; }
    .view-id-recent_news.view-display-id-block_2 .pager li a, .view-id-recent_news.view-display-id-block_2 .pager li a:active {
      padding: 10px 20px;
      color: inherit;
      display: block; }
    .view-id-recent_news.view-display-id-block_2 .pager li:hover {
      border-color: #4577D4;
      color: #4577D4; }
    .view-id-recent_news.view-display-id-block_2 .pager li.pager-current {
      padding: 10px 20px;
      border-color: black;
      color: black;
      cursor: default;
      font-weight: bold; }
    .view-id-recent_news.view-display-id-block_2 .pager li.pager-first a, .view-id-recent_news.view-display-id-block_2 .pager li.pager-last a, .view-id-recent_news.view-display-id-block_2 .pager li.pager-previous a, .view-id-recent_news.view-display-id-block_2 .pager li.pager-next a {
      font-size: 26px;
      padding: 3px 20px; }

.node-news {
  margin-bottom: 40px; }
  @media (min-width: 640px) {
    .node-news {
      margin-bottom: 80px; } }
  .node-news .field-name-body {
    padding: 0; }
  .node-news img {
    max-width: 100%;
    height: auto; }
  .node-news .read-more, .node-news .a2a_dd {
    font-size: 16px;
    border: 1px solid #5C5C5C;
    border-radius: 20px;
    padding: 10px 12px;
    color: #5C5C5C;
    font-family: "helveticaneuelight";
    display: inline-block;
    margin: 20px 20px 20px 0; }
    @media (min-width: 640px) {
      .node-news .read-more, .node-news .a2a_dd {
        padding: 10px 30px; } }
  .node-news .a2a_dd img {
    display: none; }
  .node-news .a2a_dd:after {
    content: 'Share';
    display: block; }
  .node-news .read-more:hover, .node-news .a2a_dd:hover {
    border-color: #4577D4;
    color: #4577D4; }
  .node-news .entity-paragraphs-item .content {
    padding: 0; }

/*# sourceMappingURL=styles.css.map */
