._tp_colorPicker {
	list-style-type: none;
	width:60px;
	height:60px; 
	margin:2px; 
	border:solid 1px #888; 
	float:left; 
}
._tp_subtab {
	display:none;
}
._tp_tabHead {
	list-style-type: none;
	margin-right:1em;
	float:left; 
}
._tp_subtabHead {
	list-style-type: none;
	margin-right:1em;
	float:left; 
}
._tp_tabActive {
	color: red;
	border-bottom: 2px solid black;
}
._tp_subtabActive {
	color: red;
	border-bottom: 2px solid black;
}
