#block-block-7,
#block-block-8 {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;

  .block__title {
    font-size: 40px;
    font-family: "prataregular";
    color: black;
    line-height: 1.2;
    text-align: center;
    margin: 10px 0;
    font-weight: normal;

    @include tablet {
      margin: 53px 0;
      font-size: 55px;
    }

  }

  .row {
    display: inline-block;
    vertical-align: top;
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0;

    @include tablet {
      width: 49%;
      padding: 0 20px;
    }
  }

  .row:nth-child(odd) {

    @include tablet {
      padding: 0 0 0 60px;
    }

  }

  .oasis-for {
    font-size: 0;

    .item {
      font-family: "helveticaneuelight";
      box-sizing: border-box;
      font-size: 18px;
      display: block;
      vertical-align: top;
      background-size: cover;
      height: 600px;
      padding: 60px 10px;
      text-align: center;
      color: white;
      margin: 5px auto;
      transition: all 0.2s ease;

      @include tablet {
        display: inline-block;
        width: 48%;
        margin: 1%;
      }

    }

    .item-first {
      background-image: url("img/architectural1.jpg");

      h3:after {
        background-image: url("img/house1.png");
        background-position: 11px 19px;
      }
    }
    .item-last {
      background-image: url("img/architectural2.jpg");

      h3:after {
        background-image: url("img/house2.png");
        background-position: 16px 16px;
      }
    }

    .item-wrap {
      width: 280px;
      margin: 0 auto;

      @include desktop {
        width: 300px;
      }
    }

    h3 {
      font-size: 38px;
      height: 210px;
      color: white;
      line-height: 1;
      text-align: center;
      font-weight: normal;
      position: relative;

    }

    h3:after {
      content: '';
      display: block;
      height: 90px;
      width: 90px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 20px auto;
      background-repeat: no-repeat;
      border-radius: 50px;
      border: 3px solid white;
      transition: all 0.2s ease;

    }

    .item:hover {
      opacity: 0.9;
      h3:after {
        border-color: lightblue;
     }
    }
  }
}



#block-block-8 {
  background: white;
  margin-bottom: 80px;

  .block__title {

    @include tablet {
      margin: 70px 0;
    }
  }
}