.clients {
  text-align: center;
  font-size: 0;
}

.client {
  display: block;
  font-size: 23px;
  font-family: "helveticaneuelight";
  border-top: 1px solid #ebebeb;
  padding: 40px;

  @include tablet {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  @include desktop {
    width: 33.33%;
  }
}