.page-node-22 {
  .element-invisible {
    display: none;
  }

  .form-text, .form-textarea {
    margin: 10px 0;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #636363;
    width: 100%;

  }

  .webform-submit {
    margin: 10px 0;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #636363;
    background-color: white;
    outline: 0;
  }



  .contact h2 {
    font-size: 45px;
    padding: 10px 0;
    font-family: "prataregular";
    font-weight: normal;
  }


  .contact {


    @include tablet {
      display: flex;
      justify-content: space-between;
      background-repeat: no-repeat;
      background-position: 70% 70%;
    }

    @include desktop {
      background-image: url("img/paint-2.png");
    }
    p {
      font-family: "helveticaneuelight";
      font-size: 18px;
      padding-bottom: 20px;

    }
  }

  .contact__form {
    background: white;
    padding: 10px;
    box-sizing: border-box;
    @include tablet {
      display: inline-block;
      vertical-align: top;
    }

  }

  .contact__details {
    background: white;
    padding: 10px;
    box-sizing: border-box;
    @include tablet {
      display: inline-block;
      vertical-align: top;

    }


  }

}

