.entity-paragraphs-item {

  .content {
    padding: 15px;
    max-width: 1140px;
    margin: 0 auto;
    color: black;
  }

  .field-name-field-p-title {
    font-family: "prataregular";
    line-height: 1.2;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    padding: 10px 0;

    @include tablet {
      padding: 53px 0;
      font-size: 55px;
    }
  }


  .field-name-field-p-link {
    text-align: center;
    margin: 60px;

    a {
      font-size: 16px;
      border: 1px solid $c-9;
      border-radius: 20px;
      padding: 10px 12px;
      color: $c-9;
      font-family: "helveticaneuelight";

      @include tablet {
        padding: 10px 30px;
      }
    }

    a:hover {
      border-color: $c-8;
      color: $c-8;
    }
  }


  &.white {
    background: white;
  }
  &.gray {
    background: #F4F4F4;
  }
  &.wide {
    .content {
      padding: 0;
      margin: 0;
      max-width: unset;
    }
  }
}