@font-face {
  font-family: 'helveticaneuelight';
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'prataregular';
  src: url("../fonts/prata-regular-webfont.eot");
  src: url("../fonts/prata-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/prata-regular-webfont.woff2") format("woff2"), url("../fonts/prata-regular-webfont.woff") format("woff"), url("../fonts/prata-regular-webfont.ttf") format("truetype"), url("../fonts/prata-regular-webfont.svg#prataregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuemedium';
  src: url("../fonts/helveticaneue_medium-webfont.eot");
  src: url("../fonts/helveticaneue_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue_medium-webfont.woff2") format("woff2"), url("../fonts/helveticaneue_medium-webfont.woff") format("woff"), url("../fonts/helveticaneue_medium-webfont.ttf") format("truetype"), url("../fonts/helveticaneue_medium-webfont.svg#helveticaneuemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}