.footer {

}

.footer__wrapper {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 0;
  position: relative;
}

.footer__logo {
  text-align: center;



  @include tablet {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }

  img {
    max-width: 100%;
    padding: 0 0 20px;

    @include tablet {
      padding: 0 20px 0 0;
    }
  }

}

.footer__menu {
  display: none;

  @include tablet {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }

}

.region-footer-last {
  text-align: center;

  @include tablet {
    width: auto;
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 10px;
  }

  ::-webkit-input-placeholder {color: $c-2;}
  ::-moz-placeholder          {color: $c-2;}/* Firefox 19+ */
  :-moz-placeholder           {color: $c-2;}/* Firefox 18- */
  :-ms-input-placeholder      {color: $c-2;}

  :focus::-webkit-input-placeholder {color: transparent; opacity: 0;}
  :focus::-moz-placeholder          {color: transparent; opacity: 0;}
  :focus:-moz-placeholder           {color: transparent; opacity: 0;}
  :focus:-ms-input-placeholder      {color: transparent; opacity: 0;}

  #block-simplenews-0 .form-item-mail {
    width: 100%;
    margin-bottom: 10px;

    @include tablet {
      width: 155px;
    }
  }

  #block-simplenews-0 input[value="Submit"] {
    width: 100%;

    @include tablet {
      width: auto;
    }
  }

}