.header {
  background-image: url("img/header_news.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;


  .field-name-field-header-image {
    position: relative;
    font-size: 0;


    img {
      max-width: 100%;
      height: auto;
      min-height: 250px;
    }
  }


  &.header--title {

    .field-name-field-header-image {

    }

  }
}

.header__title-group {
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.63);
  top: 45%;
  left: 0;
  right: 0;
  padding: 15px;

  h1 {
    font-size: 40px;
    font-family: "Prata";
    font-weight: normal;

    @include tablet {
      font-size: 50px;
    }
    @include desktop {
      font-size: 78px;
    }
  }

  .field-name-field-page-subtitle {
    display: none;

    @include tablet {
      font-size: 21px;
      font-family: "HelveticaNeue";
      display: block;
    }
  }

}


