#block-views-front-banner-block {
 // max-height: 510px;
}

.front .header {
  background: darkgray;
}

.messages {
  max-width: 1140px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid lightblue;
}

.header-top {
 // position: static;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 90%,  rgba(0,0,0,0) 100%);

}

.header-top__wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-architectural {

  .breadcrumb {
    display: none;
  }
  h1 {
 //   display: none;
  }



}

.responsive-menus {
  margin-top: 10px;
}

body {

}

.header-menu {
 // overflow: hidden;
}

.footer .block-menu {
  margin-bottom: 0;
  min-height: unset;
}

.region-footer-last {
  width: 80%;
  margin: 0 auto;
  float: none;
}

.entity-paragraphs-item.paragraphs-item-118 {
  position: relative;
  margin-top: 50px;
  .content {
    max-width: 800px;
  }

  &:after {
    @include desktop {
      position: absolute;
      right: 130px;
      top: -50px;
      content: '';
      display: block;
      width: 200px;
      height: 200px;
      background-image: url("img/paint-2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}


.view-footer {
  text-align: center;
  margin: 60px;

  .read-more {
    text-align: center;
    display: inline-block;



  a {
    display: block;
    font-size: 16px;
    border: 1px solid #272727;
    border-radius: 20px;
    padding: 10px 12px;
    color: black;
    font-family: "helveticaneuelight";

    @include tablet {
      padding: 10px 30px;
    }
  }

  a:hover {
    border-color: #526A89;
    color: #526A89;
  }
}
}

#block-views-recent-news-block .button a:hover,
#block-views-recent-news-block .read-more a:hover {
  border-color: #526A89;
  color: #526A89;
}

.wrap-items .wrap-link .title {
  font: 29px 'HelveticaNeue-Light';
}

.page-node-16 {
  .page-title {
    display: none;
  }
}

.page-node-16,
.page-node-30,
.page-node-22 {
  .menu-block-3 .menu {
    background: $c-2;
  }
}

.paragraphs-item-17.entity-paragraphs-item {
  .content {
    max-width: 1060px;
  }
}

.tools-list .list-items {
  float: none;
}

img {
  max-width: 100%;
}

.element-invisible {
  display: none;
}
.popup-element {
    text-align: center;
    margin: 60px;
  display: block;  }

#webform-client-form-90 .form-actions {
  text-align: center;
  margin: 20px 0 10px;
  display: block;  }

    .popup-element-title, #webform-client-form-90 .form-submit {
      font-size: 16px;
      border: 1px solid $c-9;
      border-radius: 20px;
      padding: 10px 12px;
      color: $c-9;
      font-family: "helveticaneuelight";
      background: none;
      outline: 0;

      @include tablet {
        padding: 10px 30px;
      }
    }

    .popup-element-title:hover, #webform-client-form-90 .form-submit:hover {
      border-color: $c-8;
      color: $c-8;
    }


.popup-element-body {
  input[type=text], input[type=email] {
    width: 100%;
    margin: 10px 0;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #636363;
    background-color: white;
    outline: 0;
  }
}

#webform-client-form-90 {
  background: white;

  label {
    display: none;
  }

  >div {
    padding: 5px;
  }
}

.messages {
  margin: 20px;
  border: 1px solid red;

  .messages__list {
    list-style: none;
    font-family: "helveticaneuemedium";
    font-size: 16px;
  }

  .messages__icon {
    display: none;
  }
}
