#block-system-main-menu {

  .menu {
    display: block;
  }

  .menu__item {
    margin: 0 8px;
    display: inline-block;

    @include desktop {
      margin: 0 20px;
    }

    .menu {
      display: none;
    }
  }
  .menu__link {
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;
  }
  .menu__link:hover {
    border-bottom: 2px solid white;
  }
}
