.menu-block-4 {
  display: none;

  @include desktop {
    display: block;
    position: absolute;
    z-index: 2;
    top: 35%;
    bottom: 10%;
    right: 0;
  }


  .menu__item {
    list-style: none;
  }
  
  .menu__link {
    display: block;
    width: 100px;
    height: 50px;
    margin: 2px 0;
    background-color: $c-9;
    background-image: url("img/sprite.png");
    font-size: 0;
  }

  .menu-mlid-343 .menu__link {
    background-position: -6px -123px;
  }
  .menu-mlid-344 .menu__link {
    background-position: -6px -65px;
  }
  .menu-mlid-345 .menu__link {
    background-position: -6px -184px;
  }

  .menu__link:hover {
    background-color: $c-8;
  }
}