.milestone {
  font-size: 0;

}

.milestone__date {


  @include tablet {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 25px 40px;

  }
}

.milestone__content {
  border-top: 1px solid black;
  padding: 10px 0 20px;

  @include tablet {
  position: relative;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    border-top: 0;
    border-left: 1px solid black;
    padding-top: 20px;
  }
}

.milestone__content:before {
  @include tablet {
    content: '◯';
    font-size: 11px;
    font-weight: bold;
    background: white;
    position: absolute;
    left: -7px;
    top: 30px;
  }
}

.milestone__title {

  @include tablet {
    margin-left: 40px;
  }
}

.milestone__info {

  @include tablet {
    padding-bottom: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
    border-bottom: 1px solid #e5e5e5;
  }
}

.milestone__info:first-child {
  margin-top: 45px;
}

.milestone__date, .milestone__info, .milestone__title {
  font-size: 16px;
  line-height: 1.5;
  font-family: "helveticaneuelight";
  color: black;
}

.milestone__title a {
  font-size: 23px;
  color: black;
}
