.view-id-recent_news.view-display-id-block_2 {
.view-content-block {

  @include tablet {
    float: left;
    width: 68%;
  }
}

  .view-footer {

    @include tablet {
      float: left;
      width: 32%;
      margin: 0;
      padding: 0 10px;
    }
  }

  .node-title a {
    color: black;
    font-weight: normal;
    font-size: 40px;
    padding: 20px 0;
    display: block;
  }







  .view-recent-news.view-display-id-block_1 {
    text-align: left;

    .views-row {
      padding: 10px 0;
    }
  }

  .view-footer {
    margin: 0;
    box-sizing: border-box;
    h2 {
      text-align: left;
      font-size: 26px;
      font-family: "prataregular";
      font-weight: normal;
      margin-bottom: 20px;
    }

    @include tablet {
      padding-left: 50px;
    }
    @include desktop {
      padding-left: 110px;
    }
  }

  .view-display-id-block_1 {
    .title a {
      font-family: "helveticaneuelight";
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .pager {
    list-style: none;
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 100px;
    }
    .ajax-progress {
      display: none;
    }
    li {
      display: inline-block;
      vertical-align: bottom;
        font-size: 16px;
        border: 1px solid $c-9;
        border-radius: 20px;

        color: $c-9;
        font-family: "helveticaneuelight";
        background: none;
        outline: 0;

      a, a:active {
        padding: 10px 20px;
        color: inherit;
        display: block;
      }

      &:hover {
        border-color: $c-8;
        color: $c-8;
      }

      &.pager-current {
        padding: 10px 20px;
        border-color: black;
        color: black;
        cursor: default;
        font-weight: bold;
      }

      &.pager-first,
      &.pager-last,
      &.pager-previous,
      &.pager-next {

        a {
          font-size: 26px;
          padding: 3px 20px;
        }

      }
      }



    }
  }




.node-news {
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 80px;
  }

  .field-name-body {
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .read-more, .a2a_dd  {
    font-size: 16px;
    border: 1px solid $c-9;
    border-radius: 20px;
    padding: 10px 12px;
    color: $c-9;
    font-family: "helveticaneuelight";
    display: inline-block;
    margin: 20px 20px 20px 0;

    @include tablet {
      padding: 10px 30px;
    }
  }

  .a2a_dd {
    img {
      display: none;
    }
    &:after {
      content: 'Share';
      display: block;
    }
  }

  .read-more:hover, .a2a_dd:hover {
    border-color: $c-8;
    color: $c-8;
  }

  .entity-paragraphs-item .content {
    padding: 0;
  }

}