.page-title {
  font-family: "prataregular";
  line-height: 1.2;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  padding: 10px 0;

  @include tablet {
    padding: 53px 0;
    font-size: 55px;
  }
}

.field-name-body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
  font-family: "helveticaneuelight";
  font-size: 16px;
  line-height: 1.5;

  p {
    margin: 0 0 25px;
  }
}

.node-type-news {
  article.node {
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5;

    p {
      margin: 25px 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}