.oasis-assist {

  .item-wrap {
    position: relative;
  }

  .item-wrap:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
  }
  .item:hover .item-wrap:after {
    background: rgba(0,0,0,0.2);
  }
}
