.paragraphs-item-image-left-text-right {
  clear: both;
  text-align: center;
  margin-bottom: 20px;
  
  @include tablet {
    text-align: left;
    margin-bottom: 50px;
  }

  @include desktop {
    margin-bottom: 150px;
  }
  

  .content {
    font-size: 0;
  }
  .s-image {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;

    @include tablet {
      padding-right: 20px;
      width: 45%;
    }
    @include desktop {
      padding-right: 110px;
      width: 45%;
    }

    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }
  .s-content {
    display: inline-block;
    vertical-align: top;

    @include tablet {
      width: 55%;
    }

    .field-name-field-p-title {
      font-size: 35px;
      padding: 10px 0 10px;

      @include tablet {
        text-align: left;
        padding: 0 0 10px;
      }

      @include desktop {
        font-size: 45px;
        padding: 0 0 40px;
      }

    }

    .field-name-field-p-text-block {
      font-family: "helveticaneuelight";
      font-size: 16px;
      line-height: 1.5;

        .field-item {
          margin-bottom: 25px;
        }

    }
  }


}

.paragraphs-item-image-left-text-right.paragraphs-item-117 {
  margin-bottom: 20px;

  @include tablet {
    .s-image {
      width: 34%;
      padding-right: 0;
    }

    .s-content {
      width: 66%;
    }
  }


}