.paragraphs-item-text-block,
.paragraphs-item-views,
.paragraphs-item-html-block,
.paragraphs-item-created-block {

  .field-name-field-p-text-block {
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5;

    .field-item {
      margin-bottom: 25px;
      text-align: center;
    }
  }

  &.col-2 {

    .field-name-field-p-text-block {
      .field-item {
        text-align: left;

        @include tablet {
          display: inline-block;
          vertical-align: top;
          width: 50%;
        }
      }
      & .even {

        @include tablet {
          padding-right: 50px;
        }
      }
      & .odd {

        @include tablet {
          padding-left: 50px;
        }
      }
    }
  }
}