.entity-paragraphs-item.paragraphs-item-images-block {
      .content {
      font-size: 0;
      padding: 15px 0;
    }

    .field-name-field-p-image-info > .field-items {



    @include tablet {
      display: flex;
      justify-content: space-between;
    }

      > .field-item {
        margin: 0 auto;
        padding: 15px;

        @include tablet {
          margin: 0;
          padding: 15px;
          max-width: 580px;
        }

      }
    }



}
.paragraphs-item-images-block {
  &.wide {
    .field-name-field-p-image-info > .field-items > .field-item {
      max-width: unset;
      width: 100%;
      height: auto;
      padding: 15px 0;


      .field-name-field-p-title,
      .field-name-field-p-text-block,
      .field-name-field-p-link {
        position: absolute;
        left: 0;
        right: 0;
      }

      .field-name-field-p-title {
        top: 30px;
        font-family: "prataregular";
        line-height: 1.2;
        text-align: center;
        font-weight: normal;
        font-size: 40px;
        padding: 10px 0;

        @include desktop {
          padding: 30px 0;
          font-size: 55px;
        }
      }

      .field-name-field-p-text-block {
        top: 90px;
        max-width: 700px;
        margin: 0 auto;
        display: none;

        @include tablet {
          display: block;
          top: 150px;
        }
      }

      .field-name-field-p-link {
        bottom: 10px;
        margin: 30px;

        a {
          color: white;
          border-color: white;
        }
      }
    }
  }
}