.paragraphs-item-image-info {
  position: relative;

  .content {
    height: inherit;
    text-align: center;

    .field-name-field-p-title {
      color: white;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      font-size: 38px;
      line-height: 1;
      font-family: "helveticaneuelight";
      font-weight: normal;
      height: 90px;
      padding: 0;
    }

    .field-name-field-p-text-block {
      color: white;
      position: absolute;
      top: 260px;
      left: 0;
      right: 0;
      text-align: center;
      font-family: "helveticaneuelight";
      font-size: 18px;
      margin: 20px;
    }

    .field-name-field-p-image-front {
      position: absolute;
      top: 150px;
      left: 0;
      right: 0;
      height: 100px;
      width: 100px;
      margin: 0 auto;
    }
  }
}

.field-name-field-p-image-back {
  position: relative;

  img {
    max-width: 100%;
    height: auto;
    min-height: 250px;
    max-height: 400px;

    @include desktop {
      max-height: unset;
    }
  }
}

.field-name-field-p-image-back:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}
.paragraphs-item-image-info:hover .field-name-field-p-image-back:after {
  background: rgba(0,0,0,0.3);
}

.field-name-field-p-image-front {
  border-radius: 100%;
  border: 3px solid white;
  transition: all 0.2s ease;
  display: inline-block;


  img {
    height: 90px;
    width: 90px;
    padding: 20px;
  }
}



