





.paragraphs-item-simple-text,
.paragraphs-item-2-column-text {
  font-size: 0;

  display: block;

  .content {
    padding: 10px 0;
    max-width: 1070px;
    margin: 0 auto;
  }



  .field-name-field-p-text-block,
  .field-name-field-p-left-block,
  .field-name-field-p-right-block {

    vertical-align: top;
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5;


    @include tablet {
      padding: 0 20px;
    }

    p {
      margin-bottom: 25px;
    }
  }

  .field-name-field-p-text-block {

    text-align: center;
  }


  .field-name-field-p-left-block,
     .field-name-field-p-right-block {
       display: inline-block;
       vertical-align: top;
       font-size: 16px;
    box-sizing: border-box;

       @include tablet {
         width: 50%;
       }
     }

  .field-name-field-p-left-block {


    @include tablet {
      padding-right: 50px;
    }
  }
  .field-name-field-p-right-block {


    @include tablet {
      padding-left: 50px;
    }
  }
}

.paragraphs-item-html-block {

  .field-name-field-p-html {

    img {
      max-width: 100%;
    }
  }
}


