.view-product-tables {
  font-size: 0;

  .view-filters {
    @include desktop {
      display: inline-block;
      vertical-align: top;
      width: 25%;
    }

    input[type="checkbox"] {
      position: relative;
    }
        input[type="checkbox"]:after {
      position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content: '';
          display: block;
          background: white;
          border: 1px solid black;
    }

    input[type="checkbox"]:checked:after {
      background: black;
    }

    input[type="checkbox"] + label {
      padding-left: 10px;
      font-family: "helveticaneuelight";
      font-size: 18px;
    }

    .form-type-bef-checkbox {
      padding-bottom: 20px;

      @include tablet {
        display: inline-block;
        vertical-align: top;
        width: 50%;
      }

      @include desktop {
        display: block;
        width: auto;
      }

    }

    #edit-field-category-tid-wrapper {
      margin-top: 10px;
      border-top: 2px solid #ECECEC;
      padding-top: 10px;

      @include desktop {
        margin-top: 50px;
        border: 0;
      }
    }

    .views-submit-button {
      display: none;
    }
  }

  .view-filters:before {
    content: 'Filter by';
    display: block;
    margin: 20px 0;
    font-family: "helveticaneuelight";
    font-weight: normal;
    font-size: 16px;
    color: #777;
  }

  .view-content {
    max-height: 400px;
    overflow: auto;

    @include tablet {
      max-height: 600px;
    }

    @include desktop {
      display: inline-block;
      vertical-align: top;
      max-height: 890px;
      width: 75%;
    }
  }
  table {
    border-spacing: 10px;

  td.views-field-title {
    font-family: "helveticaneuemedium";
    font-size: 14px;
    color: black;

    a {

      font-size: 20px;
      color: black;
      margin-bottom: 10px;
      display: inline-block;

    }
  }

    th {
      font-family: "helveticaneuelight";
      font-weight: normal;
      font-size: 16px;
      color: #777;
    }

  tr {


    td {
      padding: 10px;
    }

    td:not(:first-child) {
      width: 120px;
      height: 120px;
      position: relative;

      img {
        display: none;
      }
      a {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("img/icon_pdf.png");
        background-repeat: no-repeat;
        background-position: center;
        font-size: 0;
        opacity: 0.5;
        transition: all 0.2s ease;

      }
      a:hover {
        opacity: 1;
      }
    }
  }

  tr.odd {
    td:nth-child(1) {
      background: $c-o1;
    }
    td:nth-child(2) {
      background: $c-o2;
    }
    td:nth-child(3) {
      background: $c-o3;
    }
    td:nth-child(4) {
      background: $c-o4;
    }
    td:nth-child(5) {
      background: $c-o5;
    }
  }
  tr.even {
    td:nth-child(1) {
      background: $c-e1;
    }
    td:nth-child(2) {
      background: $c-e2;
    }
    td:nth-child(3) {
      background: $c-e3;
    }
    td:nth-child(4) {
      background: $c-e4;
    }
    td:nth-child(5) {
      background: $c-e5;
    }
  }
}


}