#block-menu-menu-architectural-top,
.menu-block-3 {

  .menu {
    text-align: center;
    padding: 20px 0;
    background: $c-7;
  }

  .menu__item {
    display: inline-block;
    vertical-align: bottom;
    margin: 10px;
  }

  .menu__link {
    display: block;
    font-size: 18px;
    font-family: "helveticaneuelight";
    color: $c-9;
    line-height: 1;
    border-bottom: 3px solid $c-9;
    padding-bottom: 6px;
    width: 100px;
    text-align: left;
    transition: all 0.2s ease-in-out;

    @include tablet {
      width: 167px;
    }
  }



  .menu__link:hover {
    border-color: $c-8;
    color: $c-8;
  }

  .menu__link.active {
    color: black;
    border-color: black;
    font-weight: bold;
  }
}

.header-top .menu-name-main-menu {

  .menu {
    padding-top: 0;
    display: block;
  }

  .menu__item {
    display: inline-block;
    margin: 5px 0;
  }

  .menu__link {
    padding: 5px 10px;
  }

  .menu__link:hover {
    background-color: $c-8;

  }

  .menu__link.active-trail {
    background-color: #9C9C9C;
  }

}