#block-menu-block-2 {
  font-size: 16px;

}

.menu-block-2 {

  & > .menu {
    font-size: 0;
    & > .menu__item {
      display: inline-block;
      vertical-align: top;
      color: #fff;
      font-size: 16px;
      font-family: 'helveticaneuemedium';
      min-height: 150px;
      margin-bottom: 35px;
      width: 50%;


      @include tablet {
        width: 33.33%;
      }
      @include desktop {
        width: 25%;
      }

      & > .menu__link {
        font: inherit;
        margin-bottom: 10px;
        display: inline-block;
      }

      li {
        display: block;
      }

      .menu__link:hover {
        color: $c-8;
      }
    }
  }
}