.view-about-slider {

  .slides {
    overflow: hidden;
  }

  .views-field-body {
      font-size: 14px;
      font-family: "helveticaneuelight";
      color: white;
      line-height: 1.2;
      text-shadow: 0px 1px 1px #5e5e5e;
      position: absolute;
    padding: 10px;
      left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);

    @include tablet {
      font-size: 18px;
      line-height: 1.3;
      padding: 10px 45px 35px;
    }
  }

  .flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
    padding: 0 70px;


    li {
      padding: 10px 3px;
      width: 50%;

      @include tablet {
        width: 33%;
      }
      @include desktop {
        width: 20%;
      }

    }
  }

  .flex-direction-nav {
    a {
       top: auto;
      bottom: 5%;
       display: block;
       opacity: 0.6;
     }
    .flex-next {
      right: 10px;
    }

    .flex-prev {
      left: 10px;
    }
  }
}