  .slick-slider {
    position: relative;

    .slick-track {
      height: 380px;

      @include tablet {
        height: auto;
      }
    }

    .slick__content {
      color: white;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      font-size: 21px;
      font-family: "HelveticaNeue";
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.63);

      @include tablet {
        width: 70%;
        top: 35%;
      }

      @include desktop {
        width: 35%;
      }
    }

    .slick__title {
      color: white;
      font-size: 40px;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.63);
      font-family: "Prata";

      @include tablet {
        font-size: 78px;
      }
    }

    .slick-arrow {
      position: absolute;
      top: 48%;
      z-index: 1;
      width: 15px;
      height: 27px;
      color: transparent;
      cursor: pointer;
      border: none;
      background-color: transparent;

      font-size: 30px;
      color: red;
    }

    .slick-next {
      right: 80px;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-dots {
      display: none;

      li {
        display: none;
      }
    }
  }

