h2.visually-hidden {
  display: none;
}
ul.tabs {
  text-align: center;

  .tabs__tab {
    display: inline-block;
    margin: 5px;

    &.is-active {
      .tabs__tab-link {
        background: lightblue;

        .visually-hidden {
          display: none;
        }
      }
    }
  }

  .tabs__tab-link {
    display: block;
    background: lightgray;
    padding: 5px 10px;
    color: black;
    border-radius: 3px;
  }
}