.paragraphs-item-tabs {
  .field-name-field-p-text-block {
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
}

.paragraphs-item-46,
.paragraphs-item-76,
.paragraphs-item-77,
.paragraphs-item-133 {


.ui-tabs {
  border: 0;
  font-size: 0;
  padding-top: 50px;
  text-align: center;
  background: transparent;

  .ui-tabs-panel {

  }

  .tabs_short_info  {
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 40px 0 0;
  }

  .ui-widget-header {
  background: none;
  border: 0;

  .ui-state-default {
    background: none;
    border: 0;
    margin-right: 40px;
    padding: 10px 0;
    float: none;
    display: inline-block;

    .ui-tabs-anchor {
      display: block;
      font-size: 18px;
      font-family: "helveticaneuelight";
      color: #444444;
      line-height: 1;
      border-bottom: 3px solid #727272;
      // width: 100px;
      padding: 0 20px 6px 0;
      text-align: left;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      outline: 0;
    }
  }

    .ui-tabs-active {

      .ui-tabs-anchor {
        color: black;
        border-color: black;
        font-weight: bold;
      }
    }


}

  h3 {
    font-family: "prataregular";
    line-height: 1.2;
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    padding: 60px 0 40px;
  }

  .tabs-el {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    font-family: "helveticaneuelight";
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 10px;

    @include tablet {
      width: 33.33%;
    }
  }

  .tabs-el__title {
    font-size: 23px;
    font-weight: normal;
    padding: 20px 0 20px;
  }

  .tabs-el__info {

  }
}



}

.paragraphs-item-133 {
  .ui-tabs {
    font-size: 16px;
  }

  .ui-widget-content {
    -ms-text-align-last: right;
    text-align: left;
  }
}

.ui-tabs-vertical {


  width: auto;

  @include tablet {
    width: 55em;
  }

  .ui-tabs-panel {
    width: auto;

    @include tablet {
      width: 40em;
    }
  }
  //
  //.ui-tabs-nav {
  //  width: auto;
  //  float: none;
  //
  //  li {
  //    float: none;
  //    width: auto;
  //    display: block;
  //  }
  //}

  .ui-tabs-anchor {
    display: block;
  }
}