#_tp_Painter {
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  max-width: 960px;

  ._tp_pick {
    display: inline-block;
    position: relative;
    top: -38px;
    width: 100%;

    ul {

      ._tp_tabHead {
        box-sizing: border-box;
        float: none;
        margin: 0;
        padding-bottom: 10px;
        display: inline-block;
        vertical-align: top;
        width: 23%;
          font-size: 22px;
        line-height: 1;
          font-family: "helveticaneuelight";
        color: #444444;
        text-align: left;
        border-bottom: 2px solid #444444;

        @include tablet {
          width: 28%;
        }

        &:not(:last-child) {
          margin-right: 30px;
        }

        &._tp_tabActive {
          font-family: "helveticaneuemedium";
          color: black;
          border-color: black;
        }
      }


    }

    ._tp_colorPicker {
      border: 0;
      margin: 0;
    }
  }

  #_tp_tabs {
    padding-top: 70px;

    ul {

      ._tp_subtabHead {
        padding: 0 50px 50px 30px;
        position: relative;
        color: black;
        font-family: "helveticaneuelight";
        font-size: 18px;
        cursor: default;
        display: inline-block;
        float: none;
       }

      ._tp_subtabHead._tp_subtabActive {
        border: 0;

      }

      ._tp_subtabHead:before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid black;
        border-radius: 100%;
        position: absolute;

        top: 0;
        left: 0;
      }

      ._tp_subtabHead._tp_subtabActive:before {
        background: black;
      }
    ;
    }
  }

  #_tp_subtab3 {
    p {
      padding: 20px;
      font-family: "helveticaneuelight";
      font-size: 18px;
    }

    input {
      font-size: 16px;
      border: 1px solid $c-9;
      border-radius: 20px;
      padding: 10px 12px;
      background: white;
      text-align: center;
      margin: 0 10px;
      outline: 0;
    }
  }

  #_tp_btnDownload, #_tp_btnAny {
      font-size: 16px;
      border: 1px solid $c-9;
      border-radius: 20px;
      padding: 10px 12px;
    background: white;
      color: $c-9;
      font-family: "helveticaneuelight";
      display: inline-block;
      margin: 20px;
    outline: 0;

      @include tablet {
        padding: 10px 30px;
      }
    }

  #_tp_btnDownload:hover, #_tp_btnAny:hover {
      border-color: $c-8;
      color: $c-8;
    }

._tp_colors {
  max-width: 640px;
  margin: 0 auto;
}
}


