#_tp_Calculator {
  position: relative;

  select, input, #_tp_btnCalculate {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #636363;
    background-color: white;
    outline: 0;
    text-align: center;
  }

  ._tp_section_wrapper {
    padding: 40px 0;
    font-size: 0;
    text-align: center;
  }
  ._tp_section {
    margin: 20px;

    @include tablet {
      display: inline-block;
      vertical-align: bottom;
    }

  }

  label {
      font-size: 15px;
      color: #A4A5A3;
    display: block;
  }
  p {
    text-align: center;
    font-size: 22px;
  }

  #_tp_result {
    font-weight: bold;
  }

  #_tp_btnCalculate {
    padding: 10px 30px;
    @include tablet {
      margin-left: 60px;
    }

  }
}


.form-item-field-country-presence-tid {
  position: relative;
  display: inline-block;
}


.form-item-field-country-presence-tid:after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 17px;
  right: 7px;
  background-color: white;
  background-image: url("img/dropdown.png");
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}