@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.ttf");
}

$c-1: orange;
$c-2: white; // Header text
$c-3: #485e79; // Menu background
$c-4: #526A89; // Menu background:active
$c-5: #666; // Headlight
$c-6: black; // Headlight
$c-7: #F4F4F4; // Paragraph, submenu background
$c-8: #4577D4; // Submenu:hover, float menu:hover
$c-9: #5C5C5C; // Submenu, float menu
$c-o1: #F6F6F6;
$c-o2: #F5F5F5;
$c-o3: #EFEFEF;
$c-o4: #EDEDED;
$c-o5: #ECECEC;
$c-e1: #FAFAFA;
$c-e2: #F9F9F9;
$c-e3: #F7F7F7;
$c-e4: #F6F6F6;
$c-e5: #F5F5F5;
$ff-1: 'Montserrat', sans-serif;
$ff-2: 'Roboto', sans-serif;
$fs-1: 14px;
$fs-2: 22px;
$fs-3: 18px;
$fs-4: 16px;
$fs-5: 10px;

$sidebar-first: 240px;
$sidebar-second: 240px;

$tablet-width: 640px; //768px;
$desktop-width: 960px;
$wide-desktop-width: 1200px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin wide {
  @media (min-width: #{$wide-desktop-width}) {
    @content;
  }
}