.view-accolades-achievements, .view-id-keyfeatures, .view-projects, .view-id-product_range {
  .view-content {
    font-size: 0;
    margin-top: 40px;
  }

  .views-row {
    text-align: center;
    font-size: 16px;
    font-family: "helveticaneuelight";
    padding: 10px;

    @include tablet {
      display: inline-block;
      vertical-align: top;
      padding: 10px 60px;
      width: 50%;
    }

    @include desktop {
      width: 33.33%;
    }
  }
}

.view-id-product_range {

  .views-row {
    margin-bottom: 40px;
    @include desktop {
      width: 50%;
    }
  }

  .views-field-title {
    font-size: 20px;
    padding: 20px 0;
    text-align: left;
  }

  .views-field-body {
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.view-id-keyfeatures {
  text-align: center;


  .views-field-title {
    font-size: 20px;
    padding: 20px 0;
  }

  .views-field-body {
    font-size: 16px;
  }

}

.view-projects {

  .view-content {
    color: white;
    font-family: "helveticaneuelight";
  }

  .views-row {
    position: relative;
    padding: 5px;

  }

  .views-field-field-image {
    font-size: 0;
    position: relative;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  .views-field-field-image:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
  }

  .views-row:hover .views-field-field-image:after {
    background: rgba(0,0,0,0.5);
  }



  .views-field-title {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 15px;
    font-size: 29px;
  }

  .views-field-body {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 15px;
    font-size: 16px;
  }
}