#views-exposed-form-country-presents-block, #views-exposed-form-country-presents-block-2 {
  text-align: center;
  margin-bottom: 40px;

  .views-exposed-widget {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
  }
}

#edit-field-country-presence-tid, #edit-field-city-tid {
  margin: 10px 0;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #636363;
  outline: 0;
  width: 200px;
  background: white;
}
  .form-item-field-country-presence-tid,
  .form-item-field-city-tid {
    position: relative;
    display: inline-block;
  }


.form-item-field-country-presence-tid:after,
.form-item-field-city-tid:after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 17px;
  right: 7px;
  background-color: white;
  background-image: url("img/dropdown.png");
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

#edit-submit-country-presents {
  display: none;
}